* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppines', 'sans-serif';
}

body {
    color: antiquewhite;
    background-color: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #051129;
}

.logo {
    position: relative;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: aqua;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    background: url(img/ayed1.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 75px 10% 0;
    margin-top: 65px;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .4s;
    margin-top: 1rem;
}

.home-content h1 {
    color: orange;
}

.home-content h3 span {
    color: aqua;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 22px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci a:hover {
    background: aqua;
    color: black;
    box-shadow: 0 0 20px aqua;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: aqua;
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 800;
    color: #000;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .3s;
    box-shadow: 0 0 5px aqua, 0 0 25px aqua;
}

.btn-box:hover {
    box-shadow: 0 0 5px aqua, 0 0 25px aqua,
        0 0 50px aqua, 0 0 100px aqua, 0 0 200px aqua;
}

/* 2nd part */
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    margin-top: 25%;
}

.about-text h2 {
    font-size: 60px;

}

.about-text h2 span {
    color: aqua;
}

.about-text h4 {
    font-size: 28px;
    font-weight: 600;
    color: white;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: white;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

/* 3rd part */
#services {
    color: white;
    font-size: 20px;
    line-height: 1.4rem;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: aqua;
}

.container {
    padding: 90px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.8s;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    background: aqua;
    border-radius: 40px;
    padding: 12px 28px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px aqua, 0 0 25px aqua;
}

.read:hover {
    box-shadow: 0 0 5px aqua, 0 0 25px aqua,
        0 0 50px aqua, 0 0 100px aqua, 0 0 200px aqua;
}

.services-list div:hover {
    transform: translateY(-12px);
}

/* 4th part */
section {
    display: flex;

}

.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 60px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}


/* Stylingthe last h2 tag by giving margin bottom */

.progress-bar-container:not(:last-child) {
    margin-bottom: 50px;
}

/* Styling the h2 tag by giving color, 
        letter spacing, font-size etc.*/

.progress-bar-container h2 {
    margin-top: 10px;
    color: #eee;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
}

/* Styling the border and box
        effect of the progress bar*/

.progress-bar {
    width: 400px;
    height: 5px;
    margin-top: 10px;
    border: 1px solid #000000;
    border-radius: 15px;
}

/* Stylingthe background color of each 
        animation and border radius */

.percentage {
    display: block;
    height: 5px;
    background-color: aqua;
    border-radius: 20px;
    animation: progress 1s linear forwards;
    box-shadow: 0 0 5px aqua, 0 0 25px aqua;

}

/* Assigning width of each languages*/

.html {
    width: 85%;
}

.css {
    width: 65%;
}

.javascript {
    width: 65%;
}

.react {
    width: 80%;
}

.Python {
    width: 70%;
}

/* span bar number adding */
.progress-bar span::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5 1.5s linear forwards;
}

.progress-bar span::after {
    position: absolute;
    content: "";
    top: -28px;
    right: 0;
    font-weight: 500;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.html::after {
    content: "85%";
}

/* Animating the progress bar by 
        initially starting from 0*/

@keyframes progress {
    from {
        width: 0;
    }
}

/* circle  */
.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
    margin-top: 25px;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10px;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;

}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: aqua;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s 1s linear forwards
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
        ;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 175;
        ;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
        ;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
        ;
    }
}
/* circle parcentage */
.parcentage{
    position: absolute;
   top: 45%;
   bottom: 55%;
   right: 43%;
   font-weight: 500;
   animation: showText1 0.5s 1s linear forwards;
  opacity: 0;
   
}
@keyframes showText1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* circle text and cheack inline css */
.text{
    position: absolute;
    top: 90%;
   right: 30%;
   font-weight: 500;
}



@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translatey(-100px);
        opacity: 0;
    }

    100% {
        transform: transatey(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translatex(-100px);
        opacity: 0;
    }

    100% {
        transform: translatey(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translatex(100px);
        opacity: 0;
    }

    100% {
        transform: translatex(0px);
        opacity: 1;
    }
}

/* poftfolio section */
.main-text{
    margin-top: 200px;
    padding-top: 130px;
}
.main-text h2{
    font-size: 60px;
    line-height: 2;
    text-align: center;
    color: aqua;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0,1),aqua);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
